.ballShape {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid;
    border-radius: 25px;
    margin: 0 3px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
.brown {
    background-color: brown;
}
.blue {
    background-color: blue;
}
.violet {
    background-color: violet;
}
.lightgray {
    background-color: lightgray;
}
.lightgreen {
    background-color: lightgreen;
}
.orange {
    background-color: orange;
}
.pink {
    background-color: pink;
}
.red {
    background-color: red;
}
