
<div class="container ">
    <app-header></app-header>
    <div class="row dash-container">
        <div class="col-md-7 col-12 display-container">
                <app-ball-selection #ballSelection [panel]="firstPanel"></app-ball-selection >
                <app-display-result [panel]="!firstPanel"></app-display-result >
        </div>
        <div class="col-md-5 col-12 display-bet">
            <app-input-bet (changePanel)="changePanel($event)"></app-input-bet>
        </div>
    </div>
</div>
<app-footer></app-footer>    
    


  
  <!-- <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  <pre>Active: {{ active }}</pre> -->
  
