.dash-container{
    padding:  20px 15px;
    .display-container {
        border: 2px solid grey;
        border-radius: 5px;
        text-align: center;
        padding: 10px 5px;
    }
    .display-bet {
        border: 2px solid grey;
        border-radius: 5px;
        padding: 10px 5px;
    }
}

